@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", sans-serif;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}