
.article-list {
    max-width: 900px;
    margin: 0px auto;
    padding-bottom: 50px;
}

.article {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    min-width: 800px;
    margin: 0px 20px 15px 20px;
}

.article img {
    min-width: 250px;
    height: 130px;
}

.article div {
    margin-left: 30px;
}

.article div h4 {
    margin-bottom: 20px;
}

.article #read-more {
    position: absolute;
    right: 15px;
    top: 160px;
    border: none;
    padding: 4px;
    background-color: rgb(78, 78, 78);
    color: white;
}
.article #read-more:hover {
    background-color: rgb(84, 192, 156);
}
.article .article-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: right;
}

.article #icon-plus {
    color: rgb(84, 192, 156);
}
.article #icon-ellipses {
    color: rgb(180, 180, 180);
}

.article-drop-down {
    display: none;
    background-color: rgb(136, 140, 160);
    border: 1px solid rgb(145, 145, 145);
}

.article-drop-down div {
    margin: 0px auto;
    padding: 3px;
}

.article-icon .remove-article {
    background-color: rgb(255, 103, 136);
    color: white;
}

.article-icon:hover .article-drop-down {
    display: block;
}


