
.navbar {
    max-width: 900px;
    width: 80%;
    margin: 0px auto;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.navbar button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 60px;
}

#button-login {
    background-color: rgb(69, 185, 150);
}

#button-logout {
    background-color: rgb(231, 53, 97);
}