
.user-controls {
    background-color: white;
    width: 300px;
    padding: 10px 5px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.user-controls .search-bar {
    border: 2px solid rgb(224, 224, 224);
    border-radius: 15px;
    padding: 3px;
}

.user-controls input {
    border: none;
    outline: none;
    padding-left: 7px;
}
.user-controls button {
    background-color: rgb(99, 99, 116);
    padding: 4px 5px;
    border-radius: 20px;
    border: none;
}
.user-controls svg {
    color: white;
}
.user-controls #button-refresh {
     border-radius: 4px;
}

.user-controls .search-bar, 
.user-controls #button-refresh {
    margin: 0px 5px;
}


